<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <h1>Tasks</h1>
    <ul>
        <% if (tasks) { %>
            <% for (let task of tasks) { %>
                <li class="<%= task.id %>">
                    <% if (task.status === 'DONE') { %>
                        <s><%= task.title %></s>
                    <% } else { %>
                        <%= task.title %>
                    <% } %>
                </li>
            <% } %>
        <% } else {  %>
            <h3>No tasks found...</h3>
        <% } %>
    </ul>
</body>
</html>